@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

#logo img {
  width: 80px;
}

/* Tambahan custom CSS untuk komponen Tugas */
.newsletter-section {
  background-color: #f70d8a; /* Warna pink sesuai mockup */
}
.footer-section {
  background-color: #2c3136; /* Warna gelap footer */
}
.testimonial-card {
  background-color: #7b838a; /* Warna abu-abu card testimonial */
}